/problema01/sol_java/Probblema01/nbproject/private/
/problema01/sol_java/Probblema01/build/
/problema02/sol_java/Problema02/nbproject/private/
/problema02/sol_java/Problema02/build/
/problema03/sol_java/Problem03/nbproject/private/
/problema03/sol_java/Problem03/build/
/problema05/sol_java/Problema05/nbproject/private/
/problema05/sol_java/Problema05/build/
/problema07/sol_java/Problema07/nbproject/private/
/problema07/sol_java/Problema07/build/
/problema09/sol_java/Problema09/nbproject/private/
/problema09/sol_java/Problema09/build/
